/* atur ulang margin dan padding agar tidak 
menggunakan style bawaan dari browser  */
*{
	margin:0;
	padding:0;
	font-family:calibri, â€šsegoe ui, arial, tahoma, sans-serif;
}
/* background dari desain web berwarna abu-abu */
body{
	background-color:#ADD8E6;
}

#wrapper{
	width : 780px;
	margin: auto; /* auto menyebabkan rata tengah */
	overflow:hidden; /* krn element child ada yg 
						make floating */
}

#header{
	background: url(lautan.jpg) repeat-x #555;
	height : 60px;	
	padding: 2px;
	margin : 10px 0;
	overflow : inherit;
	border-radius: 5px;	
}
#header img{
	height: 35px;
	width: auto;
    margin: inherit 10px;
}

#menu-utama{
	margin-left: 30px;
	list-style:none;
	margin-top:-10px;
	display: flex;
}

#menu-utama li{
	float:left;
	padding:0% 4%;
	border-right:2px solid #FFE4C4;
	position:inherit;
}

#menu-utama li a{
	color : #555555;
	text-decoration:none;
}

#header form{
	float:right;
	margin-top:-40px;
	margin-right: 10px;
}

.txtsearch{
	border:none;
	height:5px;
	position: right;
}

#daftar-artikel{
	width:70%;
	float:left;
}
.artikel{
	background:#4682b4;
	padding:10px;
	margin-bottom:20px;
	overflow:hidden;
}
.artikel img{
	float:left;
	margin-right:9px;
	width:50%;
	height:165px
}

.artikel b{
	color:#616060;
	background:#90ee90;
	padding:1px;
	font-size:10px;
	font-weight:bold;
	margin-right:10px;
	margin: 5px;
}

.artikel p{
	margin:15px 0;
}

.artikel a{
	display:block;
	text-align:right;
	color:#0c0202;
}

#sidebar{
	width:25%;
	float:right;
}

#sidebar h2{
	font-size:18px;
	margin:10px 0;
}

#sidebar p{
	line-height:15px;
	color : #636363;
}

#sidebar ul li a{
	color:#636363;
	text-decoration:none;
}

#sidebar ul {
	margin-left : 10px;
}

#footer{
	clear:both;
	margin:20px 0;
	text-align:center;
	background-color: #FFE4C4;
	padding:5px;
	color:#555555;
}

.form_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#myform {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.full-width {
    grid-column: 1 / 2;   
}

#myform label {
  display: block;
}

.form_contact p {
  margin: 0;
}

#myform button,input, textarea {
  padding: 0.2em;
}

button {
  background: lightblue;
  width: inherit;
  border: 0;
}

button:hover, button:focus {
  background: gold;
  outline: 0;
}

.form_contact input:focus,textarea:focus {
  outline: 3px solid gold;
}